.container {
  
  text-align: center;
  color:black;
}

.top-left {
  position: absolute;
  top: 20px;
  left: 20px;
}


.centered {
  position:absolute;
  top: 20vw;
  left: 45vw;
  transform: translate(-40%, -80%);
  font-size:40;
}
